<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="webView2B.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <userSettings>
    <webView2B.Properties.Settings>
      <setting name="userEdge" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="userDesktop" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="userMobile" serializeAs="String">
        <value>20</value>
      </setting>
    </webView2B.Properties.Settings>
  </userSettings>
</configuration>
